* {
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 16;
  text-align: center;
  height: 100%;
  width: 100%;
}

.image-container {
  overflow: none;
  display: block;
}

/* Header  */

.navbar {
  display: flex;
  height: 5rem;
  /* border: 1px solid red; */
  background-color: tan;
  padding: 0.5rem 0;
}

.navbar .logo {
  flex: 1;
  width: 100%;
  height: 100%;
  /* border: 1px solid blue; */
}

.navbar .title {
  flex: 2;
}

.navbar .menu {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid blue; */
}

.navbar img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 25px;
  border: 1px solid beige;
}

.navbar h1 {
  font-family: "Bree Serif", serif;
  font-size: 3rem;
}

.navbar a {
  padding: 0;
  margin: 0;
}

/* To Do - Redo buttons to use button class not button html  */

.navbar button {
  height: 75%;
  padding: 0.25rem 1rem;
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(to bottom, beige 0%, tan 100%) repeat scroll 0 0
    transparent;
  text-shadow: 0 1px 1px whitesmoke;
}

.navbar button:hover {
  background: none;
  background-color: grey;
  color: white;
  text-shadow: none;
}

/* Banner  */

.banner {
  height: 300px;
  border: 1px solid burlywood;
  background-image: url("images/banner.webp");
  background-size: 50%;
}

.floater {
  border: 2px solid white;
  width: 400px;
  margin: auto;
  padding: 1.5rem;
  margin-top: 35px;
  border-radius: 10px;
  background-color: beige;
}

.banner h1,
.banner h2 {
  font-family: "Kanit", sans-serif;
}

.banner h1 {
  font-size: 5rem;
  line-height: 0.9;
  padding-bottom: 0.5rem;
}

.banner h2 {
  font-size: 2.5rem;
}

/* About Us  */

.content {
  width: 90%;
  border: 1px solid red;
  margin: auto;
  text-align: justify;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.content h3 {
  margin: 0.75rem 0 0.25rem 0;
}

.content span {
  font-weight: bold;
}

.content ul {
  list-style-type: circle;
  list-style-position: inside;
  line-height: 1.5;
}

/* Our Cats  */

.catholder {
  width: 90%;
  margin: auto;
  padding: 1rem;
  border: 1px solid brown;
  background-image: linear-gradient(to bottom right, whitesmoke, gray);
  border-radius: 5px;
  /* background-color: silver; */
}

.catholder h2 {
  /* color: white; */
  font-family: "Kanit", sans-serif;
  font-size: 2rem;
}

.catlist {
  border: 1px solid blue;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.cat {
  padding: 1rem;
  /* border: 1px solid white; */
  background-color: white;
  border-radius: 10px;
  max-width: 300px;
  flex: 1;
  margin: 1rem;
}

.cat .image-container {
  width: 90%;
  height: 65%;
  margin: auto;
}

.cat img {
  width: 100%;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.catholder h3 {
  font-family: "Bree Serif", serif;
  font-size: 1.5rem;
}

.catholder p {
  font-family: "Kanit", sans-serif;
  font-size: 1rem;
}

/* Hours and Location  */

.center {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
  /* padding: 1rem; */
  border: 1px solid purple;
}

.center h3,
h4 {
  font-family: "Kanit", sans-serif;
}

.center h3 {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.center h4 {
  line-height: 1;
}

.hours,
.location {
  padding: 1rem;
  /* display: inline-block; */
}

.hours {
  background-color: blanchedalmond;
  border-radius: 5px;
  border: 1px solid tan;
  margin: 1rem 0;
}

.hours p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  line-height: 1.5;
  padding: 0 1.5rem;
}

.location {
  /* border: 1px solid blue; */
}

/* Footer  */

footer {
  font-family: Arial, Helvetica, sans-serif;
  margin: 2rem auto;
  padding-bottom: 2rem;
  color: rgb(61, 61, 61);
}

footer h3,
h4 {
  padding: 0.25rem;
}
